

body {
    /*display: flex;*/
    /*flex-flow: column;*/
    /*height: 100vh;*/
    background-color: darkseagreen;
}


#container {
    /*display: flex;*/
    /*flex: auto;*/
    /*height: 100vh;*/
    /*flex-flow: column;*/
    /*align-items: center;*/
    /*opacity:0;*/
    /*transition: all .75s linear;*/
}

.footer {
    /*margin-top: 30px;*/
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    font-size: .8em;
}

.simple {
    list-style-type: none;
	margin: 2px 0 0;
}

#mjd {
/* Matt's picture special formatting  */
	float: right;
	/*height: 250px;
	height: 25%;
	width: auto;*/
	padding: 6em 2em 2em 2em;
}

#bigLogo {
	float: left;
	/*height: 200px;
	width: auto;*/
	padding: 6em 2em 2em 2em;
}

.banner h1, h3 {
}

.banner {
	background-image: url('../img/flatirons.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 250px;
	vertical-align: middle;
}

.center-block {
	text-align: center;
	background-color: white;
	height: 50px;
	width: 300px;
	opacity: 0.6;
	/*position: absolute;
	bottom: 0;*/
}

.contacts {
	font-size: 12pt;
}

.panel,
.panel-heading,
.panel-title,
.panel-group,
.panel-default,
.panel-default>.panel-heading
    {
    background-color: darkseagreen;
	font-size-adjust: 14pt;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 4px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: seagreen;
}

.btn:hover ,
.btn-primary:hover {
	background-color: seagreen;
	text-decoration: bold;
}

.btn ,
.btn-primary {
	background-color: darkseagreen;
	text-decoration: bold;
}

form {
	background-color: seagreen;
}
