

body {
    /*display: flex;*/
    /*flex-flow: column;*/
    /*height: 100vh;*/
    background-color: darkseagreen;
}


#container {
    /*display: flex;*/
    /*flex: auto;*/
    /*height: 100vh;*/
    /*flex-flow: column;*/
    /*align-items: center;*/
    /*opacity:0;*/
    /*transition: all .75s linear;*/
}

.footer {
    /*margin-top: 30px;*/
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    font-size: .8em;
}

.simple {
    list-style-type: none;
	margin: 2px 0 0;
}

#mjd {
/* Matt's picture special formatting  */
	position: right;
}

.panel,
.panel-heading,
.panel-title,
.panel-group,
.panel-default,
.panel-default>.panel-heading
    {
    background-color: darkseagreen;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 4px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: seagreen;
}
.banner {
	background-image: url('../img/flatirons.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 300px;
}